.aside {
  flex: 2;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside ul span {
  font-size: 2.2rem;
  line-height: 2rem;
  font-weight: 800;
}

.aside li + li {
  margin-top: 3rem;
}

@media (max-width: 930px) {
  .entrada {
    background-position: 32%;
    min-height: 100vh;
    height: 100%;
  }
  .aside {
    flex: 1;
  }

  .titleAndTexts h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    order: -1;
    margin-bottom: 1rem;
  }
}

@media (max-width: 550px) {
  .aside {
    margin-top: 2rem;
  }

  .aside ul {
    display: flex;
    text-align: left;
  }
  .aside ul span {
    font-size: 2rem;
  }
  .aside li + li {
    margin-top: 0;
    margin-left: 1.5rem;
  }
}
