@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;700&display=swap"); */
:root {
  --cor-1: #52b343;
  --cor-2: #cfffd8;
  --cor-3: #36b85a;
  --cor-4: #14271a;
  --cor-5: #101c12;
  --cor-6: #0d160f;
  --cor-7: #7ea98e;
}

body {
  font-size: 14px;
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
  color: var(--cor-4);
  background: var(--cor-1);
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: var(--cor-6);
}

::-webkit-scrollbar-thumb {
  background: var(--cor-1);
  border: 3px solid var(--cor-5);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cor-3);
}
@media (min-width: 1600px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
  body {
    font-size: 12px;
  }
}


@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}